.game-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   }

.dialogue-box {
    font-size: 2rem;
    border: 0.3rem solid black;
    border-radius: 2rem;
    width: 90vw;
    height: 20vh;
    padding: 1rem;
}

.next-btn {
    font-size: 2rem;
    height: 3rem;
    width: 7rem;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 60vh;
    width: 100vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.invisible {
    visibility: hidden;
}

.choice-btn {
    font-size: 1.5rem;
    padding: 0.2rem;
    width: 20vw;
    text-align: center;
}

.clicker-section {
    padding: 3rem;
   
}

.clicker-btn {
    font-size: 2rem;
    padding: 0rem 3rem;
}

.click-report {
    font-size: 1.4rem;
    text-align: center;
}