@import "startpage";
@import "gamepage";
@import "endingpage";

body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 35vw;
  border: 1rem solid black;
}

.btn {
  border: 0.2rem solid black;
    border-radius: 2rem;
}

.btn:hover {
  background-color: rgb(197, 197, 197);
}

.btn:active {
  border: 0.2rem solid blue;
  background-color: white;
}

.hide {
  display: none;
}
